{% extends 'adminLayout.twig' %}

{% block body %}
	<div class="adminBlock">
		<h3>Բաժիններ</h3>
		<label>Անհատ</label>
		<span class="button" onclick="addLiI()">Ավելացնել</span>
		<input id='categoriesI' type='hidden' name='navigation' value='{{categories.i}}'>
		<table id='tableI'></table>
		<span class="button" onclick="update()">
			Պահել
		</span>
	</div>
	<div class="adminBlock">
		<h3>Բաժիններ</h3>
		<label>Կոմերցիոն</label>
		<span class="button" onclick="addLiC()">Ավելացնել</span>
		<input id='categoriesC' type='hidden' name='navigation' value='{{categories.c}}'>
		<table id='tableC'></table>
		<span class="button" onclick="update()">
			Պահել
		</span>
	</div>
	<script src="{{HOME_URL}}javascripts/categories.js"></script>
{% endblock %}
