<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='{{HOME_URL}}stylesheets/login.css'/>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
