{% extends 'loginLayout.twig' %}

{% block body %}
	<div class="container">
		<h2>{{title}}</h2>
		{% if warning %}<span id="warning">Մուտքանունի կամ գաղտնաբառի սխալ</span>{% endif %}
		<form method="post" action="{{HOME_URL}}admin/login">
			<input id="username" type="text" name="username" placeholder="Մուտքանուն">
			<input id="password" type="password" name="password" placeholder="Գաղտնաբառ">
			<button>Մուտք</button>
		</form>
	</div>
	<ul class="particles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
{% endblock %}
