{% extends 'layout.twig' %}

{% block body %}
	<div class="page">
	<div class="coverImage" style="background-image: url('{{HOME_URL}}images/{{page.image}}')">
		<h3>{{page.name}}</h3>
	</div>
	<main>{{page.body}}</main>
	</div>
{% endblock %}
